body {
    background-color: #041628;
    color: darkred;
}
/* Rectangle 7 */
#sideBar{
    position: absolute;
    width: 15%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #69A5DC;
}

/* Kaggle */
#kaggleLink{
position: absolute;
width: 13%;
height: 8%;
left: 20%;
top: 4%;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 200%;
line-height: 52px;
display: flex;
align-items: center;
text-align: center;

color: #9FDCAC;
}

#linkedIn{
    /* LinkedIn */

position: absolute;
width: 15%;
height: 7%;
left: 20%;
top: 13%;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 200%;
line-height: 52px;
display: flex;
align-items: center;
text-align: center;

color: #9FDCAC;
}

#resumePDF{
/* Resume.pdf */

position: absolute;
width: 10%;
height: 6%;
left: 20%;
top: 85%;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: medium;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;

color: #0038FF;
}

#resumeTEX{
/* Resume.tex */

position: absolute;
width: 10%;
height: 6%;
left: 20%;
top: 91%;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: medium;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;

color: #0038FF;
}

#gitHub{
/* GitHub */

position: absolute;
width: 16%;
height: 8%;
left: 20%;
top: 23%;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 200%;
line-height: 52px;
display: flex;
align-items: center;
text-align: center;

color: #0038FF;
}

.profilePic{
position: absolute;
width: 20%;
height: 40%;
left: 26%;
top: 30%;
border-radius:50%;
}

#name{
position: absolute;
width: 720px;
height: 199px;
left: 50%;
top: 25%;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 200%;
line-height: 52px;
display: flex;
align-items: center;
text-align: center;

color: #9FDCAC;
}

#blurb{
position: absolute;
width: 35%;
height: 199px;
left: 50%;
top: 35%;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: medium;
line-height: 100%;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

#projectLink{
/* Projects */
position: absolute;
width: 6%;
height: 6%;
left: 55%;
top: 65%;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 150%;
line-height: 52px;
display: flex;
align-items: center;
text-align: center;

color: #041628;
background:#9FDCAC;
}

#aboutLink{
/* About */
position: absolute;
width: 5%;
height: 6%;
left: 73%;
top: 65%;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 150%;
line-height: 52px;
display: flex;
align-items: center;
text-align: center;

color: #041628;
background:#9FDCAC;
}
